<app-header></app-header>

<section class="container-fluid module-section">
    <div class="container">
        <div class="row">
            <div class="col-12 border-bottom">
                <div class="top-tab-wrapper">
                    <div class="float-start w-100">
                        <ul>
                            <li class="float-start active">
                                <a class="nav-link font-14 text-white">
                                    <input type="radio" value="top1" name="topSelector" checked/>
                                    <i class="fa-regular fa-circle-question text-white me-2 text-white"></i> Ask questions
                                </a>
                            </li>
                            <li class="float-start">
                                <a class="nav-link font-14">
                                    <input type="radio" value="top2" name="topSelector" />
                                    <i class="fa-regular fa-circle-check text-white me-2"></i> Summarize
                                </a>
                            </li>
                            <li class="float-start">
                                <a class="nav-link font-14"><i class="fa-solid fa-circle-info me-2"></i> Information Extraction</a>
                            </li>
                            <li class="float-start">
                                <a class="nav-link font-14"><i class="fa-solid fa-chart-line me-2"></i> Analytics/Charts</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4">
                <h3>What we offer? Let’s check it out.</h3>
            </div>
            <div class="col-12 col-md-4">
                <h3>Predictive Analytics</h3>
            </div>
            <div class="col-12 col-md-4">
                <h3>Statistical Modeling</h3>
            </div>
        </div>
    </div>
</section>
